<div class="container">
	<div class="row">
		<div class="col s12 m6">
			<h5 class="white-text">About Us</h5>
			<p class="grey-text text-lighten-4 truncate">We are a team of regular joes working to solve life's dilemma of meaningful gift giving. After hearing the phrase "We
				never know what to get you anymore." one thousand times over the holidays, we wanted to take action. We strive to make
				finding that perfect gift less stressful than ever before. At the very least, we can help you find a suitable gift for
				Aunt Susan. I mean, come on. There's only so many times you can show up empty-handed before being known as a cheapskate.</p>
		</div>

		<div class="col s12 m6">
			<h5 class="white-text">Connect</h5>
			<p class="grey-text text-lighten-4">Please get in touch with us by emailing
				<a>contact@gifthub.com</a>.
			</p>
		</div>
	</div>
</div>
<div class="footer-copyright blue-grey lighten-1">
	<div class="container">
		<a>&copy; 2018 GiftHub</a>
	</div>
</div>