<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy 2017 <span class="font-weight-bold">gifthub</span>
            {{!-- <span class="font-italic"> (not affiliated with github)</span>  --}}
        </span>
    </div>
</footer>