    <footer class="page-footer blue-grey">
<div class="footer-copyright blue-grey lighten-1">
	<div class="container">
                © 2018 GiftHub
                <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
	</div>
</div>
    </footer>
