
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper blue-grey">
			<div class="row">
				<div class="col s12">
					<span class="page-header">
						<a href="/" class="brand-logo"><i class="fa fa-gift" aria-hidden="true"></i>gifthub</a>
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					</span>
				</div>



			{{!-- user logged in (duh) --}}
			{{#if user.user_is_logged_in}}

				{{!--  Menu (normal) --}}
				<ul class="right hide-on-med-and-down" id="user-menu-root" data-value="{{user.user_id}}">
					<li><a class="dropdown-button" href="/" data-activates="user-dropdown-mobile"><i class="fa fa-user-circle" aria-hidden="true"></i> {{user.user_firstname}} {{user.user_lastname}}<i class="material-icons right">arrow_drop_down</i></a></li>
					<!-- <li><a href="#" data-activates="admin-slide-out" class="waves-effect waves-block waves-light chat-collapse"><i class="material-icons">format_indent_increase</i></a></li> -->
				</ul>

				{{!-- Menu (collapsed) --}}
				<ul class="side-nav" id="mobile-demo">

					<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
					<li><a href="/profile"><i class="fa fa-users" aria-hidden="true"></i>Friends & Family</a></li>
					<li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i>Search for Gifts</a></li>
					<!-- <li><a href="/events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Events</a></li> -->

					{{#if ./user.user_is_admin}}
						<li class="divider"></li>
						<li><a href="/api"><i class="fa fa-cogs" aria-hidden="true"></i>API</a></li>
					{{/if}}


					<li class="divider"></li>
					<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
				</ul>

			{{!-- user not logged in --}}
			{{else}}

				{{!--  Menu (normal) --}}
				<ul class="right hide-on-med-and-down">
					<li><a href="/login">Login</a> </li>
					<li>/</li>
					<li><a href="/register">Register</a></li>
				</ul>

				{{!-- Menu (collapsed) --}}
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/register"><i class="material-icons left">person_pin</i>Register</a></li>
					<li><a href="/login"><i class="material-icons left">lock</i>Login</a></li>
				</ul>

			{{/if}}
			</div>
		</div>
	</nav>
</div>

{{!-- Dropdown Structure --}}

<ul id="user-dropdown-mobile" class="dropdown-content">
	<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
	<li><a href="/profile"><i class="fa fa-users" aria-hidden="true"></i>Friends & Family</a></li>
	<li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i>Search for Gifts</a></li>
	<!-- <li><a href="/events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Events</a></li> -->

	{{#if ./user.user_is_admin}}
		<li class="divider"></li>
		<li><a href="/api"><i class="fa fa-cogs" aria-hidden="true"></i>API</a></li>
	{{/if}}

	<li class="divider"></li>
	<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
</ul>
