<div class="nav-wrapper blue-grey">
	<a href="index.html" class="brand-logo">
		<i class="fa fa-gift" aria-hidden="true"></i>GiftHub</a>
	<ul class="right hide-on-med-and-down">
		<li class="waves-effect">
			<a>Login/Signup</a>
		</li>
	</ul>
</div>