<aside id="right-sidebar-nav">
  <ul id="slide-out" class="side-nav rightside-navigation">
    <li class="li-hover">
        <div class="container">
            <h3>Yikes!</h3>
        </div>
    </li>
  </ul>
</aside>
