{{!-- DB Search --}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="section">
            <h4>{{pagetitle}}</h4>
        </div>


        <ul class="collection">
            <li class="collection-item">Item
                <span class="badge">1</span>
            </li>
            <a href="#!" class="collection-item">Link</a>
            <li class="collection-item avatar">
                <img src="/img/avatars/avatar-10.png" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line <br> Second Line </p>
                <a href="#!" class="secondary-content"><i class="material-icons left">mdi-action-grade</i></a>
            </li>
            <a href="!#" class="collection-item">Item<span class="new badge">4</span></a>
            <li class="collection-item">Item</li>
        </ul>

    </div>
</div>
