{{!-- Home/Landing Page --}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    
                    <h3 class="header blue-grey-text">Create Profiles</h3>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="/img/recipients/grandma.jpg">
                        </div>

                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Create profiles for your family and friends. Save gift ideas to your profiles from your gift
                                    searches. Create and keep track of gift budgets.</p>
                            </div>
                            <div class="card-action">
                                <a href="/profile" class="blue-grey-text">Family & Friends Page</a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col s12 m6">
                    <h3 class="header blue-grey-text">Search for Gifts</h3>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="/img/gifts/pineapple.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Search for gifts for your loved ones and save gifts to their profiles.</p>
                            </div>
                            <div class="card-action">
                                <a href="/search" class="blue-grey-text">Search Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="header blue-grey-text">Create Events</h3>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="/img/event.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Create and track events and the event attendees.</p>
                            </div>
                            <div class="card-action">
                                <a href="results.html" class="blue-grey-text">Event Page</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
