<!--   User Profile Page   -->

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5>Friends and Family Profiles</h5>
            </div>

            <div class="col s12 m6">
                <h6>Keep track of saved gifts and budgets for each loved one here!</h6>
            </div>

            <div id="add-new-row" class="col s12 m6 right-align center-on-small-only">
                <!-- Modal Trigger -->
                <a data-target="add_new_recipient" class="modal-trigger waves-effect waves-light btn blue-grey">
                    <i class="material-icons left">person_add</i> Add New</a>
            </div>
        </div>
    </div>
    <hr>
</div>


<!--   Profiles Section   -->
<div class="container">
    <div class="section">

        {{!-- Results Section --}}
        <div id="search-result-cards" class="row">

            {{#each recipients as | recipient |}}
                {{> recipients/recipient-detail}}
            {{/each}}


        {{!-- Row End --}}
        </div>



    </div>
</div>
