<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">User Registration</h1>
        <div class="row center">
            <h5 class="header col s12 light">Sign up today to enable all of our features for free!</h5>
        </div>

		<!-- Registration Form -->
        <form id="user_registration_form"> 
            <div class="row">
                <div class="input_field col s6">
                    <input id="input_user_firstname" type="text" class="validate" data-error=".err_user_fn">
                    <label for="input_user_firstname">First Name</label>
                    <div class=".err_user_fn"></div>
                </div>
                <div class="input_field col s6">
                    <input id="input_user_lastname" type="text" class="validate">
                    <label for="input_user_lastname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input_field col s12">
                    <input id="input_user_email" type="email" class="validate">
                    <label for="input_user_email">Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input_field col s4">
                    <input id="input_user_birthday" type="text" class="datepicker validate">
                    <label for="input_user_birthday">Birthdate</label>
                </div>
                <div class="input_field col s4">
                    <input id="input_user_city" type="text" class="validate">
                    <label for="input_user_city">City</label>
                </div>
                <div class="input_field col s4">
                    <select id="input_user_state" data-value=""></select>
                    <label for="input_user_state">State</label>
                </div>
            </div>
            <div class="row">
                <div class="input_field col s6">
                    <input id="input_user_password" type="password" class="validate">
                    <label for="input_user_password">Password</label>
                </div>
                <div class="input_field col s6">
                    <input id="input_user_password_confirm" type="password" class="validate">
                    <label for="input_user_password_confirm">Confirm</label>
                </div>
            </div>
            <div class="row center">
                <input id="user_registration_submit" type="submit" class="btn light-blue darken-1" value="Submit">
            </div>
        </form>

        <br><br>
    </div>
</div>