<div class="mt-3">
    <h1>Signup</h1>
</div>
<p class="lead">Please choose a username & password.</p>


<form role="form" id="add-user-form">
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="input-user-firstname">First Name</label>
                <input type="text" class="form-control" id="input-user-firstname" placeholder="First Name" required>
                <!-- invalid message -->
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="input-user-lastname">Last Name</label>
                <input type="text" class="form-control" id="input-user-lastname" placeholder="Last Name" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="input-user-email">Email address</label>
                <input type="email" class="form-control" id="input-user-email" placeholder="Enter email" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="input-user-birthday">Birthday</label>
                <input type="date" class="form-control" id="input-user-birthday" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="input-user-city">City</label>
                <input type="text" class="form-control" id="input-user-city" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="input-user-state">State</label>
                <select id="input-user-state" class="form-control">
                    <option selected>Choose...</option>
                </select>
            </div>
        </div>
    </div>
        <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="input-user-password">Password</label>
                <input type="password" class="form-control" id="input-user-password" required>
            </div>
        </div>
        <div class="col">
           <div class="form-group">
                <label for="input-user-password-confirm">Confirm</label>
                <input type="password" class="form-control" id="input-user-password-confirm" required>
            </div>
        </div>
    </div>
    <button type="submit" id="add-user-submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" href="/users">Cancel</a>
</form>