<div class="container">

        <div class="section">
            <h4>{{pagetitle}}</h2>

                {{> search-bar}}

                {{!-- Results Section --}}
                <div id="search-result-cards" class="row row flex-container">
                    <div class="item product">
                    {{#each gifts as | gift |}}
                            {{> gifts/gift-detail}}
                    {{/each}}
                    </div>
                </div>

                <div id="search-result-cards2" class="row row flex-container">
                    <div id="search-results"></div>
                </div>
        </div>
    </div>
