/* Fonts
  -------------------------------------------------- */


/*
font-family: 'Slabo 27px', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Cabin', sans-serif;
paytone-one
*/

@import url('https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed|Slabo+27px|Source+Sans+Pro');

/* github font :) */

@font-face {
	font-family: 'Collegia';
	src: url('../fonts/collegia/Collegia.otf') format('otf');
	font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: 'Cabin', sans-serif;
}



html {
	position: relative;
	min-height: 100%;
}

/* body & main tweaks for sticky footer */


body {
	/* font-family: 'Cabin', sans-serif; */
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}


/* Materialize */

.multiply {
	background-blend-mode: multiply;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo {
	margin-left: 20px;
}

.main-section,
.form-questions {
	margin: 0;
}


#price-range {
	margin: 0;
	font-size: 0.8rem;
	color: #9e9e9e;
	padding-bottom: 6px;
}

.range-field {
	margin: 0 0 2px 0;
}

#slider {
	margin: 0;
	border: none;
	width: 100%;
	padding-top: 20px;
}

hr {
	width: 70%;
	align-content: center;
}

footer a,
footer a:active {
	text-decoration: none;
	color: #adccda;
}

footer a:hover {
	color: #75c1e5;
	cursor: default;  
}

/* Application Custom CSS
  -------------------------------------------------- */


/* Correct image cropping	 */

.crop {
	width: 270px;
	height: 175px;
	overflow: hidden;
}

img {
	display: block;
	margin: 0 auto;
}

.card .card-image img {
	/* max-height: 230px; */
}

/* images used in gift detail */

.img-gift-detail {
	max-width: 400px;
}


/* images used in user profiles */

.img-profile-sm {
	max-width: 160px;
}


/* page logo */

.app-logo {
	font-family: 'Collegia';
	font-size: 200%;
	/* 16 * 0.0625 = 1px */
	letter-spacing: 0.031em;
	text-shadow: 1px 1px 1px #d3d3d34d;
}

/* Materialize Buttons
  -------------------------------------------------- */
.btn, .btn-large {
	border-radius: 0.7rem;
	text-shadow: 0px 1px 0 #1b1b1b55;
	text-transform: none;
    border-bottom: 4px solid #0a0a0a33;
}

.btn-flat,
.btn-flat:hover  {
	border-radius: 0.7rem;
	border: 1px solid #98989820;
}

.btn-flat:hover {
	background-color: #ededed;
}


.page-footer h2,
.page-footer h3,
.page-footer h4, 
.page-footer h5 {
	text-shadow: 1px 2px 1px #46464691;
}

/* fix for white text in modals */
.page-footer {
	color: #000;
}

/* logo headline */
.page-header {
	text-shadow: 1px 2px 0 #46464691;
}


/* Materialize Tabs
  -------------------------------------------------- */

.tabs .tab a, .tab a:hover, .tabs .tab a.active {
	color: #75c1e5;
}

.tabs .tab a:hover {
	color: #b09e88;
}

.tabs .indicator {
	background-color: #75c1e5;
}

.tabs .tab {
	text-transform: none;
}

/* fix for side nav on mobile */
#sidenav-overlay {
    margin-left: 300px;
}

/* Materialize Badges
  -------------------------------------------------- */

.user-categories  {

}

span.category-badge {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #286fff;
	color: #fff;
	/* text-transform: capitalize; */
	font-size: 1rem;
	border-radius: 4rem;
	padding: 0.1rem 1rem 0.1rem 1rem;
	margin: 0 1px 0 1px;
}


.dropdown-content li>a, .dropdown-content li>span {
	font-size: 14px;
}


.code-format {
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 75%;
}

span.gift-title {
	font-weight: 800;
}

/* Modals */
/* .collection .collection-item.avatar {} */

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1023px) {}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991px) {

}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767px) {}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {}


/* Materialize */

@media only screen and (max-width: 600px) {
	.brand-logo,
	nav .brand-logo i,
	nav .brand-logo {
		float: none;
	}

	.form-row {
		margin: 0;
	}
	
	#slider {
		width: 100%;
	}

	.submit-button-row {
		margin-top: 40px;
	}

	.card.large {
		height: 300px;
	}
}
