<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">

                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#profile-tab-content">Create Profiles</a></li>
                    <li class="tab col s3"><a href="#gift-tab-content">Search for Gifts</a></li>
                </ul>
                
            </div>

            {{!-- Tab 1 Content --}}
            <div id="profile-tab-content" class="col s12">

            </div>


            {{!-- Tab 2 Content --}}
            <div id="gift-tab-content" class="col s12">

            </div>


        </div>
    </div>
</div>